<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                Eat-a-Burger
            </a>
        </div>
    </div>
</nav>